body {
  margin: 0;
  background-color: rgba(168, 174, 175, 0.518);
}


#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 4fr;
}

header{
  grid-row:1 / span 1;
  grid-column: 1 / span 2;
  background-color: rgba(1, 47, 49, 0.995);
  color: white;
  border-radius: 1ch;
}

nav{
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-content: center;
  padding: 20px;
<<<<<<< Updated upstream
  background-color: rgba(49, 1, 19, 0.995);
  border-radius: 1ch;
  height: 100%; 
=======
>>>>>>> Stashed changes
}

.time-select{
  place-self: center ;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#mass-date{
  height: 50px;
  border-radius: 5px;
}

#mass-times{
  width: 250px;
  height: 300px;
  border-radius: 1ch;
  border: 8px solid rgba(8, 77, 93, 0.995);
  padding: 10px;
  background-color: rgba(110, 135, 131, 0.859);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.liturgy-positions{
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.position{
  display: flex;
  flex-direction: column;
  width: 1139px;
  height:150px;

}
