#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 3fr;
}

nav{
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

header{
  grid-row:1 / span 1;
  grid-column: 1 / span 2;
}

.Scheduler{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
