#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 4fr;
}

nav{
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-content: center;
  padding: 20px;
}

header{
  grid-row:1 / span 1;
  grid-column: 1 / span 2;
  background-color: darkslategrey;
  color: white;
}

.time-select{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#mass-date{
  height: 50px;
  border-radius: 5px;
}

#mass-times{
  width: 250px;
  height: 300px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liturgy-positions{
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.position{
  display: flex;
  flex-direction: column;
  width: 1139px;
  height:150px;

}
