body {
  margin: 0;
  background-color: rgba(168, 174, 175, 0.518);
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 4fr;
}

header{
  grid-row:1 / span 1;
  grid-column: 1 / span 2;
  background-color: rgba(1, 47, 49, 0.995);
  color: white;
  border-radius: 1ch;
}

nav{
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-content: center;
  padding: 20px;
  background-color: rgba(49, 1, 19, 0.995);
  border-radius: 1ch;
  height: 100%; 
}

.time-select{
  place-self: center ;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#mass-date{
  height: 50px;
  border-radius: 5px;
}

#mass-times{
  width: 250px;
  height: 300px;
  border-radius: 1ch;
  border: 8px solid rgba(8, 77, 93, 0.995);
  padding: 10px;
  background-color: rgba(110, 135, 131, 0.859);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.schedule h3{
  display: flex;
  place-content: center;
  margin-bottom: 30px;
  padding: 20px;
  /* add font*/
}
.liturgy-positions{
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.position{
  background-color: rgba(141, 158, 169, 0.466);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 1139px;
  height:175px;
  border-radius: 1ch;
  border: 8px solid rgba(8, 77, 93, 0.995);
  margin: 5px;
}

.position h3{
  background-color: rgb(7, 66, 42);
  color: rgb(223, 227, 237);
  border-radius: 1ch;
  padding: 5px;
}

.position button{
  background-color: rgb(7, 66, 42);
  color: rgb(223, 227, 237);
  border-radius: 1ch;
  padding: 5px;
}
