body {
  margin: 0;
  background-color: rgba(168, 174, 175, 0.518);
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr 4fr;
}

.rosary {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.rosary h2 {
  width: 70%;
  text-align: center; 
  background-color: rgb(7, 66, 42);
  border: 2px rgba(0, 77, 93, 0.9);
  border-radius: 1ch;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(223, 227, 237);
  padding: 10px;
  margin: 20px 0;
}

.rosary audio {
  width: 70%;
  background-color: rgb(110, 119, 115);
  border: 2px rgba(0, 77, 93, 0.9);
  border-radius: 1ch;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(223, 227, 237);
  padding: 20px;
}

header{
  grid-row:1 / span 1;
  grid-column: 1 / span 2;
  background-color: rgba(1, 47, 49, 0.995);
  color: white;
  border-radius: 1ch;
}

nav{
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-content: flex-start;
  row-gap: 50px;
  padding: 20px;
  background-color: rgba(49, 1, 19, 0.995);
  border-radius: 1ch;
  height: 100%;
}

.time-select{
  place-self: center ;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#mass-date{
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}

#mass-times{
  width: 250px;
  height: 300px;
  border-radius: 1ch;
  border: 8px solid rgba(8, 77, 93, 0.995);
  padding: 10px;
  background-color: rgba(110, 135, 131, 0.859);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.schedule h3 {
  background-color: rgb(6, 58, 22);
  color: rgb(214, 223, 225);
  border-radius: 1ch;
  margin: 1rem;
  display: flex;
  justify-content: center; 
  padding: 10px;
}

.liturgy-positions {
  padding-top: 1rem; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
}

.position{
  background-color: rgba(141, 158, 169, 0.466);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 1139px;
  height:175px;
  border-radius: 1ch;
  border: 8px solid rgba(8, 77, 93, 0.995);
  margin: 5px;
}

.position h3{
  background-color: rgb(7, 66, 42);
  color: rgb(223, 227, 237);
  border-radius: 1ch;
  padding: 5px;
}

.position button{
  background-color: rgb(7, 66, 42);
  color: rgb(223, 227, 237);
  border-radius: 1ch;
  padding: 5px;
}

button{
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  width: fit-content;
  height: fit-content;
}

.sign-up-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule.manager-view {
  max-width: 90%;
  margin: 1rem auto; 
  overflow-x: auto;
  word-wrap: break-word;
  padding: 2rem; 
}

.schedule.manager-view .liturgy-positions{
  display: grid;
  place-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black ;
  background-color: rgba(200, 206, 202, 0.8); 
  border: 2px rgba(0, 77, 93, 0.9); 
  border-radius: 1ch;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.schedule.manager-view .liturgy-positions > * {
  padding: 0;
  margin: 0 auto; 
}

.sign-up-container h1{
  background-color: rgb(7, 66, 42);
  border: 2px rgba(0, 77, 93, 0.9); 
  border-radius: 1ch;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  color: rgb(223, 227, 237);
  padding: 10px;
  
}

.sign-up {
  display: grid;
  place-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: black ;
  background-color: rgba(200, 206, 202, 0.8); 
  border: 2px rgba(0, 77, 93, 0.9); 
  border-radius: 1ch;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.approved h3 {
  background-color: rgb(7, 108, 29);
  border-radius: 1ch;
  color: white
}

.not-approved h3 {
  background-color: maroon;
  border-radius: 1ch;
  color: white
}