header{
    grid-row:1 / span 1;
    grid-column: 1 / span 2;
    background-color: darkslategrey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h1 {
    padding-right: 100px;
  }

  button{
    justify-content: flex-end;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }